body{
    margin:auto
}
a{
    text-decoration: none;
}
header{
    height:70px;
    /*border:5px solid blue;*/
    background-color: #3b2632;
}
#brand{
    color:#fff;
    font-size:30px;
    float:left;
    margin-top: 1%;
    margin-left: 1%;
}
#social{
    float:right;
    margin-top: 7px;
    margin-right: 1%;
}
.socialImg{
    height:50px;
}